* {
  box-sizing: border-box;
}

a {
  color: #000;
}

h2,
p {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

html {
  -webkit-overflow-scrolling: touch;
}

body {
  // background-color: $red;
  background-color: $bg-color;
  // position: fixed;
  // width: 100vw;
  // height: 100vh;
  // left: 0;
  // top: 0;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 12px;
  font-family: PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif;
}

button,
input,
textarea {
  color: inherit;
  font-size: 12px;
}

.view-router {
  background-color: $bg-color;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.scroll-wrap {
  overflow-y: scroll;
}

.round {
  border-radius: 5px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.line-through {
  text-decoration: line-through;
}

.border-none.van-hairline--top-bottom::after {
  border-width: 0;
}
.van-nav-bar:not(.store-nav-bar){
  transition: background-color .2s linear;
  box-sizing: content-box;
  padding-top: 20px;
  height: 46px;
  .van-nav-bar__left{
    .van-icon{
      color: $red;
    }
  }
}
.goods{
  .goods-detail {
    img {
      width: 100%;
    }
  }
  .store-nav-bar.nav-in .van-nav-bar__title{
    margin-bottom: -10px;
  }
}
.message-list-page{
  .content{
    img {
      width: 100%;
    }
  }
}

.text-ellipsis{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.flex-0{
  flex:0;
}